.jsAri {
  background: #33222215;
}

.jsHome {
  .Header {
    @media (min-width: 500px) and (max-width: 959px) {
      padding-bottom: 2rem !important;
    }
  }
}

.jsImage {
  .transition(.3s,ease-out,opacity);
  &.current {
    opacity: 1;
    visibility: visible;
  }
}

.jsVideoPlayer {
  border: none;
}
.jsCloseVideo {
  span {
    opacity: 0;
    .transform(perspective(400px) translate3d(-100px,0,0) rotateY(-40deg));
  }
}

.jsHeader {
  .transform-origin(100% 8%);
  .transition(.3s, @easeOut);
  .jsNewsMenu,
  .jsNewsHeadline {
    opacity: 1;
    visibility: visible;
    .transition(.2s,ease-out,opacity,.5s);
  }
  .jsNewsNumber,
  .jsNewsAll {
    opacity: .3;
    &.current,
    &:hover {
      opacity: 1;
    }
  }
}
.jsPeopleButton,
.jsWorkButton,
.jsPressButton,
.jsContactButton
{
  cursor: pointer;
  .transition(.1s,ease-out);
  span {
    .transition(.2s,ease-out);
  }
  &.current {
    color: #000;
  }
}

.jsNewsButton
{
  cursor: pointer;
  opacity: .5;
  .transition(.1s,ease-out);
  span {
    .transition(.2s,ease-out);
  }
  &:hover {
    opacity: 1 !important;
  }
  &.current {
    opacity: 1;
  }
}

.jsNews {
  .transition(.4s,ease-out);
  .transform(translate3d(100%,0,0));
  .jsTitle {
    .transition(.4s,ease-out);
    .transform(translate3d(30px,0,0));
  }
  .jsStory {
    opacity: 0;
    .transition(.5s, @easeOutBack);
    .transform(translate3d(100px,0,0));
    &.in {
      opacity: 1;
      .transform(translate3d(0,0,0));
    }
  }
}
.Button {
  background: transparent;
  border-radius: 9999px;
  border: 3px solid #fff;
  padding: 15px 25px;
  color: #fff;
}

.Button.fill {
  background: #fff;
  color: #0F1E32;
}

.jsPerson,
.jsClient,
.jsNextCampaign {
  transform-origin: 50% 100%;
  transition: .5s;
  // .transition(.5s,eease-out);
  .jsCover {
    .transition(.6s,ease-out,opacity,.05s);
    // background-blend-mode: multiply;
  }
  .jsQuote{
    // opacity: 0;
    .transition(.3s,linear);
  }
  .jsName {
    margin-left: -.6vw;
    span > span {
      color: @gold;
      /*@media (min-width: 960px) {*/
        .transform(perspective(400px) translate3d(1.2vw,0px,0) rotateY(90deg));
      /*}*/
      &.in {
        opacity: 1;
        color: #fff;
        .transition(.6s,@easeOutBack);
        /*@media (min-width: 960px) {*/
          .transform(scale(1));
        /*}*/
      }
    }
    &:hover {
      .transition(.1s);
    }
  }
  .jsClientName.jsName {
    span > span {
      &.in {
        color: @dark;
      }
    }
  }
  .jsCampaigns__label {
    transform: perspective(1000px) rotateX(90deg);
    transform-origin: 0% 50%;
  }
}

.jsWork {
  transition-delay: .5s;
}

.jsCloseInfo,
.jsCloseNews {
  transform: scale(.1);
  .transition(.3s,ease-out);
  span{
    width: 30px;
    text-align: center;
    .transition(.3s,ease-out);
  }
  &:hover {
    opacity: 1 !important;
    transition-delay: 0s !important;
    span {
      .transform(rotate(90deg));
    }
  }
}

.jsThumbnails {
  transition: .4s ease-out;
  .jsThumb__Cover img {
    transition: .6s ease-out;
  }

  .jsThumb--work.current {
    display: inline-block !important;
  }

  @media (min-width: 960px) {
    .jsThumb--work:hover {
      transition: .1s;
      transform: scale(.995);
      .jsThumb__cover {
        transition: .1s;
      }
    }
    .jsThumb__cover {
      transition: .1s !important;
    }
  }
}
.jsCampaignInfo {
  border: none;
  a {
    color: @dark;
  }

  .jsCampaignImage:after,
  .jsCampaignVideo:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: @dark;
    z-index: 100;
    transition: 1s;
  }
  .jsCampaignImage.in:after,
  .jsCampaignVideo.in:after {
    opacity: 0;
    visibility: hidden;
  }
  
  .transition(.4s,ease-in);
  .transform(translate3d(0,100%,0));
  &.in {
    opacity: 1;
    .transform(scale(1));
    pointer-events: auto;
  }
  .jsMore {
    opacity: 0;
    .transition(.3s,@easeOutBack,all,.5s);
  }
  .jsNextCampaign {
    border: none;
    background-size: cover;
    background-position: 70% 0;
    .jsNextArrow {
      transform: translate3d(0,0,0);
      transition: .3s ease-out;
    }
    &:hover {
      .jsNextArrow {
        transform: translate3d(10px,0,0);
      }
    }
  }
}
.jsClient,
.jsCampaignInfo {
  .jsCover {
    .transform(scale(1.1)) !important;
    .transform-origin(50% 0);
    .transition(.2s, @easeOut);
    .jsImage {
      background-size: cover;
    }
  }
}

.jsPerson.current,
.jsNews.current,
.jsClient.current {
  .jsQuote{
    opacity: 1;
  }
  .jsName {
    opacity: 1;
  }
  .jsTitle {
    span{
      transition-duration: .4s;
      .transform(translate3d(0,0,0));
      opacity: 1;
      transition-delay: .5s;
      cursor: pointer;
    }
  }
  .jsThumb__cover img {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  .jsCampaigns__label {
    transition-duration: .3s;
    transition-delay: .6s;
    transform: perspective(1000px) translate3d(0,0,0);
  }
}

.Footer {
  @media (min-width: 960px) and (max-height: 500px) {
    width: 140px !important;
  }
  @media (min-width: 960px) {
    .social-icon {
      opacity: 0;
      border: none;
    }
  }
  // .jsPhone {
  //   &:hover {
  //     &:after {
  //       content: '919-680-0900';
  //       position: absolute;
  //       right: 0;
  //       top: 0;
  //     }
  //   }
  // }
  @media (max-width: 959px) {
    .jsSocialIcons {
      .transition(.3s, @easeOut);
      width: 100vw !important;
      height: 50vh !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0;
      padding: 18% 18% 4rem;
      background: @gold;
      position: fixed;
      display: block !important;
      .transform(translate3d(0,100%,0));
      &:after {
        content: 'Get in Touch';
        position: absolute;
        bottom: 1.75rem;
        font-size: 8vw;
        padding-top: 5px;
        margin: auto;
        width: 50%;
        border-top: 3px solid;
        left: 0.25rem;
        right: 0;
        text-align: center;
      }
      .social-icon {
        .transform(scale(1.2));
      }
      a span {
        margin: 1.5rem 1.5rem !important;
      }
    }
  }
}

.jsClientLogos {
  img {
    border-bottom: 2px dotted #999;
    border-right: 2px dotted #999;
    opacity: .5;
  }
}

/* Site State */

.is-work {
  @media (max-width: 959px) {
    .Footer {
      pointer-events: none;
      opacity: 0;
    }
  }
  .jsCloseInfo {
    visibility: visible;
    transform: scale(1);
    transition-delay: .7s;
  }
  .jsCampaignLogo {
    transition: .5s linear all 1s;
    opacity: 1;
    visibility: visible;
  }
  .jsCampaignInfo {
    &:after {
      visibility: hidden;
      opacity: 0;
      transition-delay: .7s;
    }
    .transition(.7s,ease-in-out);
    .transform(translate3d(0,0,0));
    .jsTitle {
      .transform(translate3d(0,0,0));
    }
    .jsLogo {
      transition-delay: 1s !important;
      opacity: 1;
      .transform(translate3d(0,0,0));
    }
    .jsDescription {
      .transform(translate3d(0,0,0));
      opacity: 1;
    }
    .jsMore {
      opacity: 1;
      .transform(translate3d(0,0,0));
    }
  }
  .jsWork {
    background-color: #fff;
    transition-delay: 0s;
    transition-duration: 0s;
  }
  .jsClient.current {
    transition-delay: .01s;
    transform: scale(.98);
    transform-origin: 50% 100%;
  }
}

.is-news {
  .jsOverlay {
    left: 0;
  }
  .jsCloseNews {
    visibility: visible;
    transform: scale(1);
    transition-delay: .7s;
  }
  .jsNews {
    .transform(translate3d(0,0,0));
    .jsTitle {
      opacity: 1;
      .transform(translate3d(0,0,0));
    }
    .jsCloseNews:hover {
      &:hover {
        opacity: 1 !important;
        span {
          .transform(rotate(90deg));
        }
      }
    }
  }
}

.yellow {
  color: #f9ae68;
}

.jsAbout {
  background-color: @bgColor;
}
